body {
  overflow-x:hidden;
  font-family: "AGaramondPro-Regular";
  font-size: 1rem;
  line-height: 1;
  background: #ffffff;
  width: 100%;
  margin: 0;
  padding:3%;
}

html {
  box-sizing: border-box;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ol, ul {
  list-style: none;
}

.clearfix {

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}