body {
  //overflow-x:hidden;
  font-family: "AGaramondPro-Regular";
  font-size: 1rem;
  line-height: 1;
  background: #fff;
  padding:3%;
  width: 100%;
}

html {
  box-sizing: border-box;
  margin: 0;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

ol, ul {
  list-style: none;
}

.clearfix {

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}