.social-menu_list {
  display: inline-flex;
  transform: rotate(-90deg);
  width: 100%;
  height: 20px;
  margin-top: -2%;
  margin-left: -51%;
  //position:absolute;
  font-size: 13px;
  color: black;
  font-family: "AGaramondPro-Regular";
  position: fixed;
  //background: violet;

  &:after {
    content: '';
    display:inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 25%;
    height: 1px;
    background: black;
  }

  &:after {
    margin-left: 2%;
  }
}

.social-menu_item {
  margin-left: 2%;
}

