@import "global/common";
@import "global/base";
@import "global/fonts";

@import "global/header";
@import "global/social-links";
@import "sections/home/center-block";
@import "global/footer";
@import "sections/coll№1/page-1";
@import "sections/coll№1/page-2";


