
.center-block {
  background: #ffffff url('../images/catalogue.png') center no-repeat;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &_section-left {
    width: 50%;
    //background: #e5eaeb;
    &_with-img {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    &_with-list {
      width: 100%;
      display: flex;
      justify-content: space-around;
      //background: rosybrown;
      padding-top: 15%;
      flex-wrap: wrap;
    }
  }

  &_section-right {
    width: 50%;
    //background: #ede0df;
    &_with-img {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    &_with-list {
      width: 100%;
      display: flex;
      justify-content: space-around;
      //background: rosybrown;
      padding-top: 10%;
      flex-wrap: wrap;
    }
  }
}
.line-1, .line-2 {
  position: relative;
}
.text-top {
  margin-left: 2%;
}

.text-bottom-1{
  position: absolute;
  bottom: 4%;
  left: -14%;
  opacity: .5;
}
.r-l_link-1{
  position: absolute;
  left: -14%;
  bottom: -3%;
}

.text-bottom-2{
  position: absolute;
  bottom: 1%;
  left: -14%;
  opacity: .5;
}
.r-l_link-2{
  position: absolute;
  left: -14%;
  bottom: -3%;
}

.coll {
  width: 100px;
  opacity: .5;
  height: 51px;
  font-size: 13px;
  font: "AGaramondPro-Regular";
}
.line-type {
  width: 200px;
  font-size: 13px;
  font-weight: bolder;
}
.table-img {
  padding-left: 10%;
}
.text-top {
  display: flex;
  transform: rotate(-90deg);
  width: 70px;
  height: 130px;
  opacity: .5;
  font-size: 13px;
  margin-bottom:-35%;
}



