
.container.page-1
    .page-1_block-left
        h1.page-1_block-left_title-left Right Line
        .page-1_block-left_text-block
            hr
            p.page-1_block-left_text The line broken, bent and bonded in space, creates three-dimensional forms.This very simple statement on geometry and technique is one of Agata Bieleń’s elemental design principles.And the Poland based jewellery designer makes sure to come closer and closer  to this principle with every collection she creates. For Spring/Summer 2016 she focusses on the optical illusion created by fine lines running through space, more broken than bent or bonded. That’s why the collection bears the name Right Line.
    .page-1_block-right
        .page-1_block-right_block
            img.block_img-1(src="images/rectangle-3.png"  alt="picture-rectangle")
            img.block_img-2(src="images/photo.jpg" alt="picture")