.container.page-3
    .page-3_block-left
        .page-3_block-left_container
            img.page-3_block-left_container_img(src="../images/photo-page-3.jpg" alt="photo-page-3")
            p.page-3_block-left_container_text It is a pleasure to observe the different forms the geometric shapes take on when draped around the arm, the neck, the finger or the ear. It is fascinating how they change their appearance when the person wearing them changes posture or position.
    .page-3_block-right
        .page-3_block-right_container
            img.page-3_block-right_container_img-1(src="../images/rectangle-page-3.png" alt="rectangle-3")
            img.page-3_block-right_container_img-2(src="../images/rectangle-3-white.png" alt="rectangle-white")
            p.page-3_block-right_container_text The most simple forms create the strongest visual effects.
