.container.page-2
    .page-2_block-left
        .page-2_block-left_img
            img.page-2_block-left_img_img-1(src="../images/rectangle-3.png" alt="rectangle-img")
            img.page-2_block-left_img_img-2(src="../images/agata-bielen-jewelry-minimalissimo-right-line-s06.jpg")
    .page-2_block-right
        .page-2_block-right_block
            p.page-2_block-right_block_text-1  Beauty
            p.page-2_block-right_block_text-2 is the
            p.page-2_block-right_block_text-3 harmony
            p.page-2_block-right_block_text-4 of purpose
            p.page-2_block-right_block_text-5 & form.