.container.page-4
    .page-4_left-horiz-block
        p.page-4_left-horiz-block_container_left-text Spring / Summer
        .page-4_left-horiz-block_container
            img.page-4_left-horiz-block_container_img-1(src="../images/rectangle-4.png" alt="rectangle-4")
            img.page-4_left-horiz-block_container_img-2(src="../images/rectangle-4-1.png" alt="rectangle-4-1")
            img.page-4_left-horiz-block_container_img-3(src="../images/photo-page-4.jpg" alt="photo-page-4")
        p.page-4_left-horiz-block_container_right-text 2016

    .page-4_right-horiz-block
        .page-4_right-horiz-block_container
            a.page-4_right-horiz-block_container_link(href="#") Collection №2

