
ul.social-menu_list
    li.social-menu_item
        a.social-menu_item-twitter(href="https://twitter.com/")  Twitter
    li.social-menu_item
        a.social-menu_item-instagram(href="https://www.instagram.com/") Instagram
