.page-4-coll-2 {
  width: 100%;
  height: 600px;

  &_left-horiz-block {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dce7e9;
    position: relative;

    &_container {
      width: 30%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &_left-text{
        position: relative;
        margin-right: 1%;
        top: 13%;
      }

      &_right-text{
        position: relative;
        margin-left: 1%;
        top: 13%;
      }

      &_img-1 {
        width: 100%;
        position: absolute;
        top: 10%;
      }

      &_img-2 {
        position: absolute;
        width: 100%;
        top: -0%;
      }

      &_img-3 {
        position: absolute;
        width: 20vw;
        top: 34%;
      }
    }
  }

  &_right-horiz-block {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &_container {
      width: 20%;

      &_link {
        text-decoration: none;
        font-size: 2vw;
        color:#000000;
        overflow: hidden;

        &:after {
          content: '';
          display:inline-block;
          vertical-align: middle;
          box-sizing: border-box;
          width: 30%;
          height: 1px;
          background: #000000;
        }

        &:after {
          margin-left: 2%;
        }
      }
    }
  }
}


////////////// MEDIA QUERIES ///////////////

@media (max-width: 1037px) {
  .page-4-coll-2 {
    &_left-horiz-block_container {
      &_img-1 {
        width: 45vw;
        top: 5%;
      }

      &_img-2 {
        width: 40vw;
      }

      &_img-3 {
        width: 27vw;
        top: 20%;
      }

      &_left-text {
        top: 19%;
        right: 10%;
      }

      &_right-text {
        top: 19%;
        left: 10%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .page-4-coll-2 {
    &_left-horiz-block {
      &_container {
        &_img-3 {
          width:80%;
        }
        &_img-1 {
          width: 40vw;
        }
        &_left-text {
          top: 19%;
          right: 10%;
          font-size: 2rem;
        }

        &_right-text {
          top: 19%;
          left: 10%;
          font-size: 2rem;
        }
      }
    }
  }
}

@media (max-width: 790px) {
  .page-4-coll-2 {
    &_left-horiz-block_container {
      &_img-3 {
        width: 30vw;
      }
    }
  }
}

@media (max-width: 768px) {
  .page-4-coll-2 {
    &_left-horiz-block {
      &_container {
        &_img-1 { width: 50vw; }
        &_img-2 { width: 50vw; }
        &_img-3 { width:90%; }
        &_left-text {
          top: 19%;
          right: 10%;
          font-size: 1.5rem;
        }
        &_right-text {
          top: 19%;
          left: 10%;
          font-size: 1.5rem;
        }
      }
    }
    &_right-horiz-block {
      &_container {
        width: 30%;
        &_link {
          font-size: 1.5rem;
          &:after { width: 43%; }
          &:after { margin-left: 5%; }
        }
      }
    }
  }
}

@media (max-width: 682px) {
  .page-4-coll-2 {
    &_left-horiz-block_container {
      &_img-3 {
        width: 32vw;
      }
    }
  }
}

@media (max-width: 414px) {
  .page-4-coll-2 {
    width: 100%;
    height: 330px;

    &_left-horiz-block {
      &_container {
        &_img-1 { width: 60vw; }
        &_img-2 { width: 60vw; }
        &_img-3 { width: 35vw; }
        &_left-text {
          top: 19%;
          right: 12%;
          font-size: 1rem;
        }
        &_right-text {
          top: 19%;
          left: 10%;
          font-size: 1rem;
        }
      }
    }
    &_right-horiz-block {
      &_container {
        &_link {
          font-size: 1rem;
          &:after { width: 38%; }
        }
      }
    }
  }
}
