
.container-cb.center-block
    .center-block_with-img-1
        .line-1
            .text-top Coll.№1
            img.img-coll-1(src="../images/agata-bielen-jewelry-minimalissimo-right-line-s01.jpg" alt="picture_3")
            .text-bottom-1 Right Line
            a.r-l_link-1(href="#")
                img.arrow(src="../images/arrow.png" alt="img_arrow")
        .line-2
            .text-top Coll.№2
            img.img-coll-2(src="../images/agata-bielen-nature-line-collection-2.jpg" alt="picture_4")
            .text-bottom-1 Point Line
            a.r-l_link-1(href="#")
                img.arrow(src="../images/arrow.png" alt="img_arrow")

    .center-block_with-list-1
        table.center-block_with-list_table
            tr
                td.coll Coll.№3
                td.line-type Storm Line
                td.table-img
                    img.table-img-arrow(src="../images/arrow.png" alt="img_arrow")
            tr
                td.coll Coll.№4
                td.line-type Valley Line
                td.table-img
                    img.table-img-arrow(src="../images/arrow.png" alt="img_arrow")
            tr
                td.coll Coll.№5
                td.line-type Mountain Line
                td.table-img
                    img.table-img-arrow(src="../images/arrow.png" alt="img_arrow")
            tr
                td.coll Coll.№6
                td.line-type Desert Line
                td.table-img
                    img.table-img-arrow(src="../images/arrow.png" alt="img_arrow")
            tr
                td.coll Coll.№7
                td.line-type Woods Line
                td.table-img
                    img.table-img-arrow(src="../images/arrow.png" alt="img_arrow")
            tr
                td.coll Coll.№8
                td.line-type Beach Line
                td.table-img
                    img.table-img-arrow(src="../images/arrow.png" alt="img_arrow")


    .center-block_with-list-2
        table.center-block_section-left_with-list_table
            tr
                td.coll Coll.№9
                td.line-type Gold Line
                td.table-img
                    img.table-img-arrow(src="../images/arrow.png" alt="img_arrow")
            tr
                td.coll Coll.№10
                td.line-type Silver Line
                td.table-img
                    img.table-img-arrow(src="../images/arrow.png" alt="img_arrow")
            tr
                td.coll Coll.№11
                td.line-type Bronce Line
                td.table-img
                    img.table-img-arrow(src="../images/arrow.png" alt="img_arrow")
            tr
                td.coll Coll.№12
                td.line-type Lion Line
                td.table-img
                    img.table-img-arrow(src="../images/arrow.png" alt="img_arrow")
            tr
                td.coll Coll.№13
                td.line-type Bronce Line
                td.table-img
                    img.table-img-arrow(src="../images/arrow.png" alt="img_arrow")


    .center-block_with-img-2
        .line-1
            p.text-top Coll.№14
            img.img-coll-1(src="../images/agata-bielen-arch-line-collection-6.jpg" alt="picture_3")
            p.text-bottom-2 Arch Line
            a.r-l_link-2(href="#")
                img.arrow(src="../images/arrow.png" alt="img_arrow")

        .line-2
            p.text-top Coll.№15
            img.img-coll-2(src="../images/point-line-agata-6.jpg" alt="picture_4")
            p.text-bottom-2 Point Line
            a.r-l_link-2(href="#")
                img.arrow(src="../images/arrow.png" alt="img_arrow")

