doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name='viewport' content='width=device-width')
        link(rel="stylesheet" href="css/main.min.css")
        title AgataBielen

    body
        include sections/home/header
        include sections/home/social-links
        include sections/home/center-block


