doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name='viewport' content='width=device-width')
        link(rel="stylesheet" href="css/main.min.css")
        title AgataBielen

    body
        include global/header
        include global/social-links
        include sections/home/center-block
        include global/footer
        include sections/coll№1/page-1
        include sections/coll№1/page-2
        include sections/coll№1/page-3
        include sections/coll№1/page-4
        include sections/coll№2/page-1



