.container.page-3-coll2
    .page-3-coll2_block-left
        .page-3-coll2_block-left_container
            img.page-3-coll2_block-left_container_img(src="../images/photo-page3-coll2.jpg" alt="photo-page-3")
            p.page-3-coll2_block-left_container_text   Handcrafted and playing on the cross-over of modernity and natural form, this collection is a beautiful addition.
    .page-3-coll2_block-right
        .page-3-coll2_block-right_container
            img.page-3-coll2_block-right_container_img-1(src="../images/rectangle-page3-coll2.png" alt="rectangle-3")
            img.page-3-coll2_block-right_container_img-2(src="../images/rectangle-white-page3-coll2.png" alt="rectangle-white")
            hr.page-3-coll2_block-right_container_hr1
            hr(noshade).page-3-coll2_block-right_container_hr1
            p.page-3-coll2_block-right_container_text Inspired by water lilies floating on the pond surface & spreading aquatic circles.
            hr.page-3-coll2_block-right_container_hr2
            hr(noshade).page-3-coll2_block-right_container_hr2