.container.page-4-coll-2
    .page-4-coll-2_left-horiz-block
        p.page-4-coll-2_left-horiz-block_container_left-text Fall / Winter
        .page-4-coll-2_left-horiz-block_container
            img.page-4-coll-2_left-horiz-block_container_img-1(src="../images/rectangle-page4-coll2.png" alt="rectangle-4")
            img.page-4-coll-2_left-horiz-block_container_img-2(src="../images/rectangle-1-page4-coll2.png" alt="rectangle-4-1")
            img.page-4-coll-2_left-horiz-block_container_img-3(src="../images/photo-page4-coll2.jpg" alt="photo-page-4")
        p.page-4-coll-2_left-horiz-block_container_right-text 2017

    .page-4-coll-2_right-horiz-block
        .page-4-coll-2_right-horiz-block_container
            a.page-4-coll-2_right-horiz-block_container_link(href="#") Collection №3