.container.page-1
    .page-1_block-left
        h1.page-1_block-left_title-left Nature Line
        .page-1_block-left_text-block
            hr
            p.page-1_block-left_text-1 The Nature Line Collection is, as the name suggests, mused by nature and the organic and seamless lines that result. Available in a sterling silver finish, all pieces are subtle lines of irregularly shaped geometries for adornment. The feint and light-weightedness of the collection is typical of Bieleń, and her style, and this collection is no exception.
            p.page-1_block-left_text-2 This collection sees a launch from her traditional, more rigid geometries and sees her exploring natural materials and fauna as inspiration. Based in Poland, the emphasis is on round and soft forms which opposes her traditional style.
    .page-1_block-right
        .page-1_block-right_block
            img.block_img-1(src="images/rectangle-1-coll2-page-1.png"  alt="picture-rectangle")
            img.block_img-2(src="images/photo-page-1-coll2.jpg" alt="picture")