section.page-2-coll2
    .container
        .page-2-coll2_block-left
            .page-2-coll2_block-left_container
                img.page-2-coll2_block-left_container_img(src="images/rectangle-page2-coll2.png"  alt="picture-rectangle")
                .page-2-coll2_block-left_container_section
                    img.page-2-coll2_block-left_container_section_img(src="images/photo-page2-coll2.png"  alt="picture")
        .page-2-coll2_block-right
            .page-2-coll2_block-right_block
                p.page-2-coll2_block-right_block_text-1  Organic
                p.page-2-coll2_block-right_block_text-2 objects
                p.page-2-coll2_block-right_block_text-3 adapt
                p.page-2-coll2_block-right_block_text-4 to the body
                p.page-2-coll2_block-right_block_text-5 discreetly.



